* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Dark Theme*/

* {

    background-color: rgba(33, 37, 41, 1) !important;
    color: white !important;

}

main {

    height: 100%;

}